<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-room-heading" data-cy="RoomCreateUpdateHeading">Create or edit a Room</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_roomId">Room Id</label>
          <input type="number" class="form-control" name="roomId" id="field_roomId" data-cy="roomId" formControlName="roomId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_roomNumber">Room Number</label>
          <input
            type="number"
            class="form-control"
            name="roomNumber"
            id="field_roomNumber"
            data-cy="roomNumber"
            formControlName="roomNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_facility">Facility</label>
          <select class="form-control" id="field_facility" data-cy="facility" name="facility" formControlName="facility">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="facilityOption.id === editForm.get('facility')!.value?.id ? editForm.get('facility')!.value : facilityOption"
              *ngFor="let facilityOption of facilitiesSharedCollection; trackBy: trackFacilityById"
            >
              {{ facilityOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
