<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="room">
      <h2 data-cy="roomDetailsHeading"><span>Room</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ room.id }}</span>
        </dd>
        <dt><span>Room Id</span></dt>
        <dd>
          <span>{{ room.roomId }}</span>
        </dd>
        <dt><span>Room Number</span></dt>
        <dd>
          <span>{{ room.roomNumber }}</span>
        </dd>
        <dt><span>Facility</span></dt>
        <dd>
          <div *ngIf="room.facility">
            <a [routerLink]="['/facility', room.facility?.id, 'view']">{{ room.facility?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/room', room.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
