<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="resident">
      <h2 data-cy="residentDetailsHeading"><span>Resident</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ resident.id }}</span>
        </dd>
        <dt><span>Resident Id</span></dt>
        <dd>
          <span>{{ resident.residentId }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ resident.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ resident.lastName }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ resident.email }}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
          <span>{{ resident.phoneNumber }}</span>
        </dd>
        <dt><span>Room</span></dt>
        <dd>
          <div *ngIf="resident.room">
            <a [routerLink]="['/room', resident.room?.id, 'view']">{{ resident.room?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/resident', resident.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
